<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CADisableMinimumFrameDurationOnPhone</key>
		<true/>
		<key>CFBundleDevelopmentRegion</key>
		<string>$(DEVELOPMENT_LANGUAGE)</string>
		<key>CFBundleDisplayName</key>
		<string>Tranquil Life</string>
		<key>CFBundleExecutable</key>
		<string>$(EXECUTABLE_NAME)</string>
		<key>CFBundleIdentifier</key>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundleName</key>
		<string>Tranquil Life</string>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>CFBundleShortVersionString</key>
		<string>$(MARKETING_VERSION)</string>
		<key>CFBundleSignature</key>
		<string>????</string>
		<key>CFBundleVersion</key>
		<string>$(FLUTTER_BUILD_NUMBER)</string>
		<key>LSRequiresIPhoneOS</key>
		<true/>
		<key>NSPhotoLibraryUsageDescription</key>
		<string>Tranquil Life requires permission to your gallery.</string>
		<key>NSCameraUsageDescription</key>
		<string>Tranquil Life requires permission to your camera to make calls and to take pictures and videos.</string>
		<key>NSMicrophoneUsageDescription</key>
		<string>Tranquil Life requires permission to your microphone to make calls and to record voice notes and videos.</string>
		<key>NSFaceIDUsageDescription</key>
		<string>Tranquil Life uses Face ID authentication to unlock the app</string>
		<key>NSLocationWhenInUseUsageDescription</key>
		<string>Tranquil Life keeps your location private and only uses it for security and in life-threatening situations.</string>
		<key>NSLocationAlwaysUsageDescription</key>
		<string>Tranquil Life keeps your location private and only uses it for security and in life-threatening situations.</string>
		<key>NSCalendarsUsageDescription</key>
		<string>Tranquil Life needs this permision to be able to add scheduled meetings to your calendar</string>
		<key>UILaunchStoryboardName</key>
		<string>LaunchScreen</string>
		<key>UIMainStoryboardFile</key>
		<string>Main</string>
		<key>UIStatusBarHidden</key>
		<false/>
		<key>UISupportedInterfaceOrientations</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
		<key>UISupportedInterfaceOrientations~ipad</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationPortraitUpsideDown</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
		<key>UIViewControllerBasedStatusBarAppearance</key>
		<false/>
	</dict>
</plist>
